.palzen {
  font-weight:bold;
}

.Headline {
  display:flex;
  justify-content: center;
}

.Steps {
  display:flex;
  justify-content: center;
  color:rebeccapurple;
}
.button-steps{
  color:rebeccapurple;
  font-weight: bold;
}
.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    font-size: 18px;
    text-align: center;
}


ol {
  list-style-type: none;
  padding-inline-start: 0;
  height: 220px;
}
